<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p> Lista de paquetes en almacen </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="packages.length>0">    
    <ion-item *ngFor="let item of packages" (click)="goToUpdatePackage(item.packageid)">
      <ion-label>
        <h2><p>Categoria: {{item.product}}</p></h2>
        <h4><p>Nombre: {{item.name}} </p></h4>
      </ion-label>
      <ion-badge *ngIf="item.fragile=='true'" color="danger" slot="end">Paquete fragil</ion-badge>
      <ion-badge *ngIf="item.fragile=='false'" color="success" slot="end">Paquete no fragil</ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToAddPackage()">
    <ion-fab-button color="light"><ion-icon name="add" ></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>

