<ion-content class="ion-text-center ion-padding">
  <ion-button shape="round" type="button" size="small" (click)="returnToHome()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  <ion-title><h1>Formulario de registro</h1></ion-title>
    <form [formGroup]="form" class="ion-text-center ion-padding">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="person" color="app" slot="start"></ion-icon>
          <ion-input placeholder="Número de identificación"  formControlName="workerId"></ion-input>
        </ion-item>
        <div *ngIf="submitted && form.controls.workerId.errors" class="error-color">          
          <div *ngIf="form.controls.workerId.errors.required">El número de identificación es requerido</div>
          <div *ngIf="form.controls.workerId.errors.minlength">El número de identificación corto</div>
          <div *ngIf="form.controls.workerId.errors.maxlength">El número de identificación largo</div>
        </div> 

        <ion-item lines="none">
          <ion-icon name="man" color="app" slot="start" ></ion-icon>
          <ion-input  placeholder="Nombre" formControlName="name">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && form.controls.name.errors" class="error-color">          
          <div *ngIf="form.controls.name.errors.required">El nombre es requerido</div>
          <div *ngIf="form.controls.name.errors.maxlength">El nombre es demasiado largo</div>
        </div> 

        <ion-item lines="none">
          <ion-icon name="mail-outline" color="app" slot="start"></ion-icon>
          <ion-input placeholder="Correo"  formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="submitted && form.controls.email.errors" class="error-color">          
          <div *ngIf="form.controls.email.errors.required">El correo eléctronico es requerido</div>
          <div *ngIf="form.controls.email.errors.email">El correo eléctronico ingresado no es valido, ingrese uno valido, ejemplo: ejemplo@gmail.com</div>
          <div *ngIf="form.controls.email.errors.maxlength">El correo eléctronico es demasiado largo</div>
        </div> 
  
        <ion-item lines="none">
          <ion-icon name="lock-closed-outline" color="app" slot="start" ></ion-icon>
          <ion-input  type="password" placeholder="Contraseña" formControlName="password">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && form.controls.password.errors" class="error-color">          
          <div *ngIf="form.controls.password.errors.required">La contraseña es requerida</div>
          <div *ngIf="form.controls.password.errors.minlength">La contraseña es demasiado corta</div>
          <div *ngIf="form.controls.password.errors.maxlength">La contraseña es demasiado larga</div>
        </div>

        <ion-item>
          <ion-icon name="call" color="app" slot="start" ></ion-icon>
          <ion-input placeholder="Número teléfonico" formControlName="cellphone">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && form.controls.cellphone.errors" class="ion-text-start error-message">
          <div *ngIf="form.controls.cellphone.errors.required">Debes ingresar un número teléfonico</div>
          <div *ngIf="form.controls.cellphone.errors.minlength">El número es demasiado corto</div>
          <div *ngIf="form.controls.cellphone.errors.maxlength">El número es demasiado largo</div>
          <div *ngIf="form.controls.cellphone.errors.pattern">El número debe tener solo simbolos y números</div>
        </div> 

        <ion-list >
          <ion-item>
            <ion-select placeholder="Seleccionar estado del trabajador"(ionChange)="handleChangeStatus($event)">
              <ion-select-option value="active">Activo</ion-select-option>
              <ion-select-option value="inactive">Inactivo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list >
          <ion-item>
            <ion-select placeholder="Seleccionar el rol del trabajador"(ionChange)="handleChangeRole($event)">
              <ion-select-option value="boss">Jefe</ion-select-option>
              <ion-select-option value="assistant">Asistente</ion-select-option>
              <ion-select-option value="worker">Empleado</ion-select-option>
              <ion-select-option value="segurity">Seguridad</ion-select-option>
              <ion-select-option value="maintenance">Mantenimiento</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div>Importante: El trabajador por defecto estará inactivo y tendrá el rol de empleado.</div>
        <ion-list>

        </ion-list>
      </ion-list>
      <br>

      <ion-button shape="round" expand="block" type="button" (click)="register()">Registrar</ion-button>
    </form>
  
  </ion-content>
  