<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sesión actual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" class="ion-text-center ion-padding">
  
    <ion-card>
    <ion-card-content>
      <div><ion-label> Número de identificación: </ion-label>{{userId}}</div>
    </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div><ion-label> Nombre: </ion-label>{{name}}</div>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        <div><ion-label> Correo eléctronico: </ion-label>{{email}}</div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
         <div><ion-label> Rango: </ion-label>{{role}}</div>
      </ion-card-content>
    </ion-card>
    <div><ion-label> Los datos delicados como el número de contacto y contraseña no son previsualizables</ion-label></div>
  <ion-button shape="round" expand="block" type="button" (click)="updateData(userId)"> Actualizar mis datos </ion-button>
  <ion-button shape="round" expand="block" type="button" (click)="closeSesion()"> Cerrar sesión </ion-button>
</ion-content>
