<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar mis datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
    <ion-button shape="round" type="button" size="small" (click)="returnSesion()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  <div><ion-title> Datos actuales </ion-title></div>
  <ion-card>
    <ion-card-content>
      <div><ion-label> Número de identificación: </ion-label>{{userId}}</div>
      <div><ion-label> Nombre: </ion-label>{{name}}</div>
      <div><ion-label> Correo eléctronico: </ion-label>{{email}}</div>
      <div><ion-label> Rango: </ion-label>{{role}}</div>
      <div><ion-label> Los datos delicados como el número de contacto y contraseña no son previsualizables</ion-label></div>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="form" class="ion-text-center ion-padding">
    <ion-list>
      <ion-title> Datos nuevos </ion-title>
      <ion-item lines="none">
        <ion-icon name="man" color="app" slot="start" ></ion-icon>
        <ion-input  placeholder="Nombre" formControlName="name">
        </ion-input>
      </ion-item>
      <div *ngIf="submitted && form.controls.name.errors" class="error-color">          
        <div *ngIf="form.controls.name.errors.required">El nombre es requerido</div>
        <div *ngIf="form.controls.name.errors.maxlength">El nombre es demasiado largo</div>
      </div> 

      <ion-item lines="none">
        <ion-icon name="mail-outline" color="app" slot="start"></ion-icon>
        <ion-input placeholder="Correo"  formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="submitted && form.controls.email.errors" class="error-color">          
        <div *ngIf="form.controls.email.errors.required">El correo eléctronico es requerido</div>
        <div *ngIf="form.controls.email.errors.email">El correo eléctronico ingresado no es valido, ingrese uno valido, ejemplo: ejemplo@gmail.com</div>
        <div *ngIf="form.controls.email.errors.maxlength">El correo eléctronico es demasiado largo</div>
      </div> 

      <ion-item>
        <ion-icon name="call" color="app" slot="start" ></ion-icon>
        <ion-input placeholder="+526442......" formControlName="cellphone">
        </ion-input>
      </ion-item>
      <div *ngIf="submitted && form.controls.cellphone.errors" class="ion-text-start error-message">
        <div *ngIf="form.controls.cellphone.errors.required">Debes ingresar un número teléfonico</div>
        <div *ngIf="form.controls.cellphone.errors.minlength">El número es demasiado corto</div>
        <div *ngIf="form.controls.cellphone.errors.maxlength">El número es demasiado largo</div>
        <div *ngIf="form.controls.cellphone.errors.pattern">El número debe tener solo simbolos y números</div>
      </div> 

      <ion-list >
        <ion-item>
          <ion-select placeholder="Seleccionar estado del trabajador"(ionChange)="handleChangeStatus($event)">
            <ion-select-option value="active">Activo</ion-select-option>
            <ion-select-option value="inactive">Inactivo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list >
        <ion-item>
          <ion-select placeholder="Seleccionar el rol del trabajador"(ionChange)="handleChangeRole($event)">
            <ion-select-option value="Jefe">Jefe</ion-select-option>
            <ion-select-option value="Asistente">Asistente</ion-select-option>
            <ion-select-option value="Empleado">Empleado</ion-select-option>
            <ion-select-option value="Seguridad">Seguridad</ion-select-option>
            <ion-select-option value="Mantenimiento">Mantenimiento</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div>Importante: No es posible actualizar su número de identificación ni contraseña</div>
      <ion-list>

      </ion-list>
    </ion-list>
    <br>

    <ion-button shape="round" expand="block" type="button" (click)="updateData()">Actualizar</ion-button>
  </form>
</ion-content>